<!-- <app-header></app-header>

<mat-drawer-container class="app-container">
  <mat-drawer mode="side" opened style="width: 13%;">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content style="margin-right: 20px; margin-top: -7em;">
    <router-outlet> </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer> -->
<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue">User CRUD Operation</h1>
  </div>
</nav>

<router-outlet> </router-outlet>
